<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $.getJSON(
          '/Symbols' + '/',
          function(data) {

            // Remove old options
            $('#SymbolList').find('option').remove();

            // Add new items
            $.each(data, function(key, val) {
              var option_item = '<option value="' + val + '">' + val + '</option>'
              $('#SymbolList').append(option_item);
            });
          }
        );
      });
    </script>
    <title></title>
  </head>
  <body>
    <form action="#" method="post">
      <input type="text" name="symbol" placeholder="Search symbols..." list="SymbolList">
      <datalist id="SymbolList">

      </datalist>
      <input type="submit" name="submit" value="Search">
    </form>
    {% if Symbol != None:%}
      <p>{{Symbol}}: {{Value}}</p>
    {% endif %}
  </body>
</html>
